html, body{
	font-size: medium;
	font-family: Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
}
textarea {
	width: 100%;
	height: 12em;
}
a{
	color: #148fcc;
}
a.current{
	font-weight: bold;
}
.contents p, .contents ul, .contents ol, .contents dl {
	margin: 1em 0;
}
h2, h3, h4, h5, h6{
	margin-top: 1em;
}

.theme_ui_px_message{
	position: absolute;
	top: 10px; left: 10%;
	width: 80%;
	z-index: 16000;
}
.theme-header,
.theme-main,
.theme-footer{
	width: 97%;
	margin: 0 auto;
	color: #666;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.05);

}

// Header
.theme-header{
	background-color: #fff;
	padding: 0; margin:0;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	min-height: 10px;
	z-index: 100;
	border-bottom: 3px solid #00a0e6;
	box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
	color: #666;
	line-height: 1;
	box-sizing: border-box;
	border-bottom-color: #00a0e6;
	color: #00a0e6;

	&__inner{
		padding: 0px 0px 0px 60px;
	}

	a{
		color: #333;
		text-decoration: underline;
		&:hover{
			color: #000;
			text-decoration: none;
		}
	}

	// ハンバーガーメニュー
	&__shoulder-menu{
		position: fixed; top: 0; right: 0;
		padding: 0; margin: 0;
		overflow: hidden;
		button{
			background: #f9f9f9;
			border: none;
			border-left: 1px solid #00a0e6;
			position: absolute; top:0; right:0;
			height: 30px;
			width: 30px;
			box-sizing: border-box;
		}
		ul{
			position: absolute;
			top: 30px; right: 0;
			display: none;
			margin: 0; padding: 0;
			list-style-type: none;
			background-color: #333;
			border: 1px solid #aaa;
			overflow: auto;
			width:280px;
			max-width:100%;
			opacity: 0.95;

			li{
				margin: 0 0 1px 0;
				border-bottom: 1px solid #555;
				font-size: 13px;
				&:last-child{
					border: none;
				}
				a{
					display:block;
					font-weight: normal;
					padding: 0.8em 2em;
					color: #eee;
					background-color: #333;
					text-decoration: none;
					&:hover{
						background-color: #444;
						color: #fff;
					}
					&.current{
						font-weight: bold;
						background-color:#00a0e6;
						color: #fff;
					}
				}
			}
		}
	} // shoulder_menu

	// LOGO
	&__px2logo{
		transition: width 0.3s ease-out 0s , height 0.3s ease-out 0s;
		position: fixed;
		left: 10px; top: 0px;
		z-index: 1000;
		width: 45px; height: 45px;
		padding: 6px;
		box-sizing: border-box;
		background-color: #fff;
		a{
			display: inline-block;
			width: 100%; height: 100%;
		}
		img, svg{
			width: 100%; height: 100%;
		}
	} // px2logo

	&__id{
		width: auto;
		margin: 0;
		padding: 10px 0 0 0;
		float: left;
		font-size: 13px;
		transition: opacity 0.5s ease 0;
		opacity: 1;
		*{
			margin:0 0.5em;
			display: inline-block;
			text-shadow: none;
			font-weight: normal;
		}
	} // id

	// グローバルメニュー
	&__gmenu{
		padding: 0;
		margin: 0;
		float: right;
		margin-right: 35px;
		margin-bottom: -3px;
		line-height: 1;

		ul{
			display:block;
			margin:0; padding:0;

			li{
				display: inline-block;
				margin: 0 1px 0 1px;
				padding: 0;
				list-style-type: none;
				font-size: 13px;

				a,span{
					display: block;
					margin:0;
					padding:12px 2em 5px;
					color: #666;
					border: none;
					font-weight: normal;
					text-decoration: none;
					border-bottom: 3px solid transparent;

					&:hover{
						color:#00a0e6;
					}
					&.current{
						font-weight: bold;
						border-bottom-color: rgba(255, 255, 255, 0.85);
						color:#00a0e6;
					}
				}
				span{
					padding-left: 0;
					padding-right: 0;
				}
				.theme-header__gmenu__login-user{
					color: #666;
					&:hover{
						color: #666;
					}
				}
			}
		}
	} // gmenu

} // Header


.theme-main{
	background-color: #fff;
	margin-top: 40px;
	padding: 30px;
	text-shadow: none;
}
.theme-footer{
	font-size: 13px;
	background-color: #eee;
	padding: 1em;
	width: auto;
	max-width: none;
	&__copyright{
		text-align:center;
		margin: 1em auto;
	}
}
/**
 * ダイアログボックス
 */
.dialog_box{
	background-color:#fff;
	padding: 15px;
	border:1px solid #ddd;
	border-radius: 5px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}
.dialog-buttons{
	text-align:center;
}
/**
 * アイコン
 */
.icn-preview:before{
	content: url('../images/icn_preview.png');
	margin: 0 5px;
	vertical-align: top;
	position: relative;
	top: 5px;
	left: 0;
}
