@mixin px2-editor-type{
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 0.4em 1em;
    text-align: center;
    color: #fff;
}
.px2-editor-type__html{
    @include px2-editor-type;
    background-color: #4a8a98;
    &:before{
        content: "HTML";
    }
}
.px2-editor-type__html-gui{
    @include px2-editor-type;
    background-color: #9f5b75;
    &:before{
        content: "GUI";
    }
}
.px2-editor-type__txt{
    @include px2-editor-type;
    background-color: #999;
    &:before{
        content: "TEXT";
    }
}
.px2-editor-type__md{
    @include px2-editor-type;
    background-color: #ae9b59;
    &:before{
        content: "Markdown";
    }
}
.px2-editor-type__jade{
    @include px2-editor-type;
    background-color: #999;
    &:before{
        content: "Jade";
    }
}
.px2-editor-type__not-exists{
    @include px2-editor-type;
    background-color: #c3c3c3;
    &:before{
        content: "未作成";
    }
}
.px2-editor-type__page-not-exists{
    @include px2-editor-type;
    background-color: #c3c3c3;
    &:before{
        content: "ページ未作成";
    }
}
.px2-editor-type--fullwidth{
    width: auto;
    display: block;
    float:none;
}
