<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>コンテンツ編集 | pickles2webtool</title>
		<link rel="stylesheet" href="/common/styles/common.css" type="text/css" />
		<link rel="stylesheet" href="editor_broccoli_files/styles/contents.css" type="text/css" />
	</head>
	<body>
		<p><a href="/">pickles2webtool</a></p>
		<h1>コンテンツ編集</h1>
		<div class="contents">

<div class="cont_outline">
	<div class="cont_title_bar"></div>
	<div class="cont_instanceTreeView"></div>
	<div class="cont_canvas">
		<div class="preview_window_frame">
			<div class="preview_window_frame--inner">
				<div class="cont_canvas--main">
				</div>
			</div>
		</div>
	</div>
	<div class="cont_palette"></div>
	<div class="cont_buttons">
		<button class="btn btn-default btn-block cont_btn_save_and_preview_in_browser">ブラウザでプレビュー</button>
		<button class="btn btn-primary btn-block cont_btn_close">閉じる</button>
	<div>

	<div class="cont_instancePathView"></div>
</div>



		</div>

		<script type="text/javascript" src="/common/scripts/main.js"></script>

		<!-- broccoli-html-editor -->
		<link rel="stylesheet" href="/common/broccoli-html-editor/client/dist/broccoli.css" />
		<script src="/common/broccoli-html-editor/client/dist/broccoli.js"></script>

		<!-- broccoli-field-table -->
		<!-- <script src="../../common/broccoli-field-table/dist/broccoli-field-table.js"></script> -->

		<!-- broccoli-field-href -->
		<!-- <script src="../../common/broccoli/broccoli-field-href/client.js"></script> -->

		<script type="text/javascript" src="./editor_broccoli_files/scripts/contents.js"></script>
	</body>
</html>
