body{
	text-align: center;
}
h1{
	font-size: 24px;
	font-weight: bold;
	margin: 120px auto 20px auto;
	img{
		max-width: 300px;
	}
}
.cont-main{
	background-color: #fff;
	padding: 30px;
	max-width: 400px;
	margin: 30px auto;
}
.contents{
}
.login-form{
	.login-form__input-item{
		margin: 1em auto;
		max-width: 300px;
		input{
			width: 100%;
		}
	}
}
.cont_copyright{
	font-size: 13px;
	text-align: center;
	color: #666;
	text-shadow: 1px 0 1px rgba(0,0,0,0.05);
	margin: 1em 0;
}
